{% load static %} <!-- carga archivos estáticos donde se encuentra por ej el blog.css -->
<html>
    <head>
        <title> Django Girls blog By daniel-x86 </title>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}"> <!-- carga blog.css de static -->
    </head>
    <body>
	<div class="main">	

	<h1> Django Gerls blog By daniel-x86 </h1>
	
	{% if user.is_authenticated %}
	<br>
	<a href="{% url 'post_new' %}" class='btn card_btn'>Agregar publicación</a>	
	{% endif %}
	
	<br>
	<a href="{% url 'post_list' %}" class='btn card_btn'>Mostrar todas las publicaciones</a>
	<br>	
	
		    <!-- carga bloque de contenido django -->
			{% block content %}
            {% endblock %}
			
	</div>		
		
    </body>
</html>